{% extends 'base.html' %}

{% block content %}
<h1>Home Page</h1>
<div class="section academic">
    <h2>Academic</h2>
    <p>Content for academic section.</p>
</div>
<div class="section professional">
    <h2>Professional</h2>
    <p>Content for professional section.</p>
</div>
<div class="section research">
    <h2>Research</h2>
    <p>Content for research section.</p>
</div>
<div class="section volunteer">
    <h2>Volunteer</h2>
    <p>Content for volunteer section.</p>
</div>
{% endblock %}
